<form (ngSubmit)="updatePage()" #f="ngForm">
  <app-landscape-header mainHeader="Pages" subHeader="Edit Page"></app-landscape-header>
  <div class="container-fluid page-content padbodytext row">
    <div class="col-sm-4 hidden-xs vertical-line">
      <app-website-list></app-website-list>

    </div>
    <div class="col-sm-8">

      <div *ngIf="errorFlag"
           class="alert alert-danger">
        {{errorMsg}}
      </div>


      <div class="form-group">
        <label for="pagename">Name</label>
        <input
          placeholder="Name"
          type="text"
          id="pagename"
          name="pagename"
          ngModel
          required
          [(ngModel)]="pagename"
          #formpagename="ngModel"
          class="form-control"/>
        <span class="help-block" *ngIf="!formpagename.valid && formpagename.touched">
          Please enter a name for your page.
        </span>
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <textarea
          rows="5"
          id="description"
          name="description"
          class="form-control"
          ngModel
          required
          [(ngModel)] = "description"
          #formdescription="ngModel">{{description}}</textarea>
        <span class="help-block" *ngIf="!formdescription.valid && formdescription.touched">
          Please enter a description.
        </span>
      </div>
      <button class="btn btn-danger btn-block "
              (click)='deletePage()'>Delete
      </button>


    </div>

  </div>
</form>
<app-simple-footer></app-simple-footer>
