<div class="page-content padbodytext">
  <ul class="list-group">
    <li class="list-group-item borderless text-bold">
      <a href="../page/page-list.html" class="navbar-link">
        Website Number 1
      </a>
      <a href="website-edit.html" class="navbar-link">
        <span class="glyphicon glyphicon-cog pull-right"></span>
      </a>
    </li>
    <li class="list-group-item borderless text-bold">
      <a href="../page/page-list.html" class="navbar-link">
        Website Number 2
      </a>
      <a href="website-edit.html" class="navbar-link">
        <span class="glyphicon glyphicon-cog pull-right"></span>
      </a>
    </li>
    <li class="list-group-item borderless text-bold">
      <a href="../page/page-list.html" class="navbar-link">
        Website Number 3
      </a>
      <a href="website-edit.html" class="navbar-link">
        <span class="glyphicon glyphicon-cog pull-right"></span>
      </a>
    </li>
    <li class="list-group-item borderless text-bold">
      <a href="../page/page-list.html" class="navbar-link">
        Website Number 4
      </a>
      <a href="website-edit.html" class="navbar-link">
        <span class="glyphicon glyphicon-cog pull-right"></span>
      </a>
    </li>
  </ul>
</div>
