<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="apple-mobile-web-app-capable"
        content="yes">
  <meta name="apple-mobile-web-app-status-bar-style"
        content="black">
  <meta name="viewport"
        content="initial-scale=1.25, user-scalable=no">
  <meta charset="UTF-8">


  <link rel="stylesheet"
        href="../../vendors/bootstrap/dist/css/bootstrap.min.css"/>
  <link rel="stylesheet"
        href="../../css/style.css"/>


  <script src="../../vendors/jquery/dist/jquery.min.js"></script>
  <script src="../../vendors/bootstrap/dist/js/bootstrap.min.js"></script>
  <title>Widgets</title>
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <p class="navbar-text pull-left">
      <a href="../page/page-list.html"
         class="navbar-link">
        <span class="glyphicon glyphicon-arrow-left"></span>
      </a>
    </p>
    <p class="navbar-Header pull-left">
      <a class="navbar-brand thick">
        <b>Widgets</b>
      </a>
    </p>
    <p class="navbar-text pull-right">
      <a href="widget-chooser.html"
         class="navbar-link">
        <span class="glyphicon glyphicon-plus-sign"></span>
      </a>
    </p>

  </div>
</nav>

<div class="page-content">
 Widgets go here
</div>

<!-- Footer -->
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a href="../user/profile.html">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </p>

  </div>
</nav>

</body>
</html>
