<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport"
        content="initial-scale=1.25, user-scalable=no">
  <meta charset="UTF-8">
  <link rel="stylesheet"
        href="../../vendors/bootstrap/dist/css/bootstrap.min.css"/>
  <link rel="stylesheet"
        href="../../css/style.css"/>
  <script src="../../vendors/jquery/dist/jquery.min.js"></script>
  <script src="../../vendors/bootstrap/dist/js/bootstrap.min.js"></script>
  <title>User Profile</title>
</head>
<body>
<div class="container-fluid">


  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">

      <p class="navbar-header pull-left">
        <a class="navbar-brand thick">
          <b>Profile</b>
        </a>
      </p>
      <p class="navbar-text pull-right">
        <a href="profile.html" class="navbar-link">
          <span class="glyphicon glyphicon-ok"></span>
        </a>
      </p>

    </div>
  </nav>



<form>
  <label for="username">Username</label>
  <input placeholder="xXx_LovesToBoop_xXX"
         type="text"
         id="username"
         class="form-control"/>
</form>
  
  <label for="username">E-mail</label>
  <input placeholder="michael@myemail.com"
         type="text"
         id="email"
         class="form-control"/>

  <label for="username">First Name</label>
  <input placeholder="michael"
         type="text"
         id="fname"
         class="form-control"/>

  <label for="username">Last Name</label>
  <input placeholder="boopstopher"
         type="text"
         id="lname"
         class="form-control"/>

  <a class="btn btn-primary" href="login.html">Back To Login</a>
  <a class="btn btn-danger" href="../../index.html">Logout</a>
</div>

</body>

</html>
