
  <div class="form-group">
    <label for="youtubeName">Name</label>
    <input value = [(widget.name)]
           type="text"
           id="youtubeName"
           name="name"
           ngModel
           required
           [(ngModel)]="widget.name"
           #formwidgetname="ngModel"
           class="form-control"/>
  </div>
  <div class="form-group">
    <label for="text">Text</label>
    <input value = [(widget.text)]
           type="text"
           id="text"
           name="text"
           ngModel
           required
           [(ngModel)]="widget.text"
           #formwidgettext="ngModel"
           class="form-control"/>
  </div>
  <div class="form-group">
    <label for="url">URL</label>
    <input value = [(widget.url)]
           type="text"
           id="url"
           name="url"
           ngModel
           required
           [(ngModel)]="widget.url"
           #formwidgeturl="ngModel"
           class="form-control"/>
  </div>

  <div class="form-group">
    <label for="width">Width</label>
    <input value = [(widget.width)]
           type="text"
           id="width"
           name="width"
           ngModel
           required
           [(ngModel)]="widget.width"
           #formwidgetwidth="ngModel"
           class="form-control"/>
  </div>
