<app-simple-header></app-simple-header>

<!-- page content -->
<div class="container-fluid">
  <div class="page-content">
    <form>
      <div class="form-group">
        <label for="username">Username</label>
        <input value="xXx_LovesToBoop_xXx"
               type="text"
               id="username"
               class="form-control"/>
      </div>
    </form>

    <form>
      <div class="form-group">
        <label for="email">E-mail</label>
        <input value="boopmando@hotmail.com"
               type="text"
               id="email"
               class="form-control"/>
      </div>
    </form>

    <form>
      <div class="form-group">
        <label for="fname">First Name</label>
        <input value="booper"
               type="text"
               id="fname"
               class="form-control"/>
      </div>
    </form>


    <form>
      <div class="form-group">
        <label for="lname">Last Name</label>
        <input value="boopinston"
               type="text"
               id="lname"
               class="form-control"/>
      </div>
    </form>
    <a class="btn btn-primary" routerLink="../website/website-list">Websites</a>
    <a class="btn btn-danger" routerLink="">Logout</a>
  </div>
</div>
