<form (ngSubmit)="updateUser()" #f="ngForm">
<app-simple-header headerName="Profile" okLink="/profile" backLink="/login" glyphType="ok"></app-simple-header>

<!-- page content -->
<div class="container-fluid">
  <div class="page-content">

      <div class="form-group">
        <label for="username">Username</label>
        <input [(ngModel)]="username"
               type="text"
               placeholder="{{username}}"
               id="username"
               name="username"
               class="form-control"/>
      </div>

      <div class="form-group">
        <label for="email">E-mail</label>
        <input [(ngModel)]="email"
               type="text"
               name="email"
               placeholder="{{email}}"
               id="email"
               class="form-control"/>
      </div>

      <div class="form-group">
        <label for="fname">First Name</label>
        <input [(ngModel)]="fname"
               type="text"
               placeholder="{{fname}}"
               id="fname"
               name="fname"
               class="form-control"/>
      </div>

      <div class="form-group">
        <label for="lname">Last Name</label>
        <input [(ngModel)]="lname"
               type="text"
               placeholder="{{lname}}"
               id="lname"
               name="lname"
               class="form-control"/>
      </div>

    <a class="btn btn-primary" routerLink="/website">Websites</a>
    <button class="btn btn-danger" (click)="logout()">Logout</button>
  </div>
</div>
</form>
