<div class="container-fluid">

  <nav class="navbar navbar-default navbar-fixed-top row">
    <div class="container-fluid padbodytext">
      <p class="navbar-header navbar-brand pull-left">
        <a routerLink={{backLink}} class="navbar-link">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
      </p>
      <p class="navbar-header pull-left">

        <a class="navbar-brand thick">
          <b>{{headerName}}</b>
        </a>
      </p>
      <p class="navbar-text pull-right">
        <button type = submit routerLink="{{okLink}}" class="navbar-link">
          <span class="glyphicon glyphicon-{{glyphType}}"></span>
        </button>
      </p>

    </div>
  </nav>
</div>
