input {
  margin-bottom: 5px
}

.btn{
  margin-bottom: 5px;
}

body{
  height: 100%;
}

html{
  height:100%;
}



.page-content{
  padding-top: 70px;
  padding-bottom: 70px;
  height: 100%;

}
.padbodytext{
  padding-left: 25px;
  padding-right: 25px;
}

.nowrap{
  display: inline;
}
.borderless{
  border: 0 none;
}

.vertical-line{
  border-right: 1px;
  border-right-style: solid;
  border-color: lightgray;
  height:100%;
}


.mb-glyph-toolbar{
  position: absolute;
  right: 0px;
  background-color: gray;
  padding: 7px;
  border-bottom-left-radius: 10px;
  opacity: 0.5;
}

.mb-widget-spacing{
 padding-bottom: 25px;
}
