<div class="container-fluid">
  <ul class="list-group">
    <li class="list-group-item borderless"><a (click)="navigateToNew('HEADER')">Header</a></li>
    <li class="list-group-item borderless">Label</li>
    <li class="list-group-item borderless"><a (click)="navigateToNew('HTML')">HTML</a></li>
    <li class="list-group-item borderless"><a (click)="navigateToNew('TEXT')">Text Input</a></li>
    <li class="list-group-item borderless">Link</li>
    <li class="list-group-item borderless">Button</li>
    <li class="list-group-item borderless"><a (click)="navigateToNew('IMAGE')">Image</a></li>
    <li class="list-group-item borderless"><a (click)="navigateToNew('YOUTUBE')">Youtube</a></li>
    <li class="list-group-item borderless">Data Table</li>
    <li class="list-group-item borderless">Repeater</li>
  </ul>

</div>
