<app-simple-header headerName="Widgets" backLink="../../" okLink="new" glyphType="plus"></app-simple-header>
<div class="padbodytext page-content">
<div *ngFor="let widget of widgets">
<div [ngSwitch]="widget.type">

  <div *ngSwitchCase="'HEADER'">
    <app-widget-disp-header [widget]='widget' ></app-widget-disp-header>
  </div>

  <div *ngSwitchCase="'IMAGE'">
    <app-widget-disp-image [widget]='widget'></app-widget-disp-image>
  </div>

  <div *ngSwitchCase="'YOUTUBE'">
    <app-widget-disp-youtube [widget]='widget'></app-widget-disp-youtube>
  </div>
</div>
</div>
</div>
<app-simple-footer></app-simple-footer>
