<form (ngSubmit)="updateWidget()" #f="ngForm">
  <app-landscape-header mainHeader="Widgets" subHeader="Edit Widget"></app-landscape-header>
  <div class="container-fluid page-content padbodytext row">
    <div class="col-sm-4 hidden-xs vertical-line">
      <app-widget-chooser></app-widget-chooser>

    </div>
    <div class="col-sm-8">
    <div [ngSwitch]="widget.type">

      <div *ngSwitchCase="'HEADER'">
        <app-widget-header [widget]='widget'></app-widget-header>
      </div>

      <div *ngSwitchCase="'IMAGE'">
        <app-widget-image [widget]='widget'></app-widget-image>
      </div>

      <div *ngSwitchCase="'YOUTUBE'">
        <app-widget-youtube [widget]='widget'></app-widget-youtube>
      </div>

    </div>
      <button class="btn btn-danger btn-block "
              (click)='deleteWidget()'>Delete
      </button>
    </div>
  </div>
</form>
<app-simple-footer></app-simple-footer>
