<form (ngSubmit)="updateWidget()" #f="ngForm">
  <app-landscape-header mainHeader="Widgets" subHeader="Edit Widget"></app-landscape-header>
  <div class="container-fluid page-content padbodytext row">
    <div class="col-sm-4 hidden-xs vertical-line">
      <app-widget-chooser></app-widget-chooser>

    </div>

    <div [ngSwitch]="widget['type']">

      <div *ngSwitchCase='HEADING'>
        <app-widget-header></app-widget-header>
      </div>

      <div *ngSwitchCase='IMAGE'>
        <app-widget-image></app-widget-image>
      </div>

      <div *ngSwitchCase='YOUTUBE'>
        <app-widget-youtube></app-widget-youtube>
      </div>

    </div>

  </div>
</form>
<app-simple-footer></app-simple-footer>
