<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="viewport"
        content="initial-scale=1.25, user-scalable=no">
  <meta charset="UTF-8">


  <link rel="stylesheet"
        href="../../vendors/bootstrap/dist/css/bootstrap.min.css"/>
  <link rel="stylesheet"
        href="../../css/style.css"/>


  <script src="../../vendors/jquery/dist/jquery.min.js"></script>
  <script src="../../vendors/bootstrap/dist/js/bootstrap.min.js"></script>
  <title>Your Websites</title>
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <p class="navbar-Header pull-left">
      <a class="navbar-brand thick">
        <b>[User]'s Websites</b>
      </a>
    </p>
    <p class="navbar-text pull-right">
      <a href="website-new.html" class="navbar-link">
        <span class="glyphicon glyphicon-plus-sign"></span>
      </a>
    </p>

  </div>
</nav>

<div class="page-content">
  <ul>
    <li>Website Number 1</li>
    <li>Website Number 2</li>
    <li>Website Number 3</li>
    <li>Website Number 4</li>
  </ul>
</div>


Footer

</body>
</html>
