<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid row">
    <div class="col-sm-1">
      <p class="navbar-header pull-left">
        <a routerLink="../"
           class="navbar-link navbar-brand">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
      </p>
    </div>
    <div class="col-sm-2 hidden-xs">
      <p class="navbar-Header pull-left">
        <a class="navbar-brand thick">
          <b>{{mainHeader}}</b>
        </a>
      </p>
    </div>
    <div class="col-sm-1 hidden-xs">
      <p class="navbar-Header pull-right">
        <a routerLink="../new"
           class="navbar-link navbar-brand thick">
          <span class="glyphicon glyphicon-plus"></span>
        </a>
      </p>
    </div>
    <div class="col-sm-8">
      <p class="navbar-Header pull-left">
        <a class="navbar-brand thick">
          <b>{{subHeader}}</b>
        </a>
      </p>
      <p class="navbar-text pull-right">
        <button
           type="submit"
           class="navbar-link mb-button">
          <span class="glyphicon glyphicon-ok"></span>
        </button>
      </p>
    </div>
  </div>
</nav>
